body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.un-button {
  background: dimgray;
  color: azure;
  border: none;
  border-radius: 5px;
  min-height: 36px;
  outline: none;
  cursor: pointer;
  transition: all .3s;
  padding: 0 15px;
  width: 100%;
}
.un-button:hover {
  box-shadow: 0 0 10px dimgray;
}

.un-button:disabled {
  border: dimgray 1px solid;
  cursor: default !important;
  color: dimgray !important;
  background: white !important;
  box-shadow: none !important;
}

.un-form-group {
  background-color: dimgray;
  border-radius: 10px;
  color: azure;
}

.un-form-group input {
  margin: 0;
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.form-conclusion {
  position: relative;
}

.form-conclusion div {
  position: absolute;
  right: -55px;
  top: 0;
}
.green {
  color: green;
}

.red {
  color: red;
}

.grey {
  background-color: darkgrey;
  border: 1px dimgray solid;
  border-radius: 5px;
}

.white {
  background-color: white;
  border: 1px dimgray solid;
  border-radius: 5px;
}

.question-input {
  width: 95%;
}